// colores de background
$backgroundColor: fixed
  linear-gradient(0deg, rgba(255, 187, 0, 1) 32%, rgba(255, 149, 0, 1) 100%);

//colores botones

$buttonColor: #d96704;
$buttonShadow: 0px 14px 31px rgba(0, 0, 0, 0.12),
  0px 3.12708px 6.92426px rgba(0, 0, 0, 0.0715329),
  0px 0.931014px 2.06153px rgba(0, 0, 0, 0.0484671);
$hover: rgba(0, 0, 0, 0.71);
$hoverFont: rgb(212, 212, 212);

// nav
$backgroundNav: #ffffff;
