.contenedorgrid {
  color: black;
  padding-top: 2rem;
  margin-left: 150px/1920px * 100%;
  display: grid;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-areas: "texto1 texto1 botonimagen" "skill skill botonimagen" "clientes clientes clientes";

  .itemTexto1 {
    grid-area: texto1;
    max-width: 80rem;
  }

  /*Softwares*/
  .flexContentSkills {
    grid-area: skill;
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    grid-template-areas: "titulo2 titulo2 titulo2 titulo2" "S1 S2 S3 S4" "S5 S6 S7 S8";

    .itemTitulo2 {
      grid-area: titulo2;
    }

    .soft1 {
      grid-area: S1;
      img {
        width: 40%;
      }
    }

    .soft2 {
      grid-area: S2;
      text-align: inherit;
      img {
        width: 40%;
      }
    }
    .soft3 {
      grid-area: S3;
      text-align: inherit;
      img {
        width: 40%;
      }
    }

    .soft4 {
      grid-area: S4;
      text-align: inherit;
      img {
        width: 40%;
      }
    }

    .soft5 {
      grid-area: S5;
      text-align: inherit;
      img {
        width: 40%;
      }
    }

    .soft6 {
      grid-area: S6;
      text-align: inherit;
      img {
        width: 40%;
      }
    }
    .soft7 {
      grid-area: S7;
      text-align: inherit;
      img {
        width: 40%;
      }
    }
    .soft8 {
      grid-area: S8;
      text-align: inherit;
      img {
        width: 40%;
      }
    }
  }
  //Fin softwares

  //Clientes
  .contenedorClientes {
    grid-area: clientes;

    div {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;

      img {
        padding: 2rem;
        max-height: 200px;
      }
    }
  }

  //Imagen y boton
  .contenedorBotoneImagen {
    grid-area: botonimagen;

    .itemImagen {
      margin-right: 5rem;
      text-align: center;
    }
    .buttonCv {
      padding-top: 5rem;
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;

      button {
        margin: 1rem;
        text-decoration: none;
        background: #d96704;
        box-shadow: 0px 14px 31px rgba(0, 0, 0, 0.12),
          0px 3.12708px 6.92426px rgba(0, 0, 0, 0.0715329),
          0px 0.931014px 2.06153px rgba(0, 0, 0, 0.0484671);
        border-radius: 60px;
        width: 20vw;
        height: 6.8rem;
        border: none;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 300%;
        color: white;

        &:hover {
          background: rgba(0, 0, 0, 0.71);
          color: rgb(212, 212, 212);
        }
      }
    }
  }
}
/* FIN CSS ABOUT*/
