.ContactMain {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.flexContainerContact {
  position: relative;
  min-width: 70%;
  min-height: 700px;
  display: flex;
  z-index: 1000;
  margin-left: 130px/1920px * 100%;

  .flexContainerContact__Info {
    position: absolute;
    top: 140px/1920px * 100%;
    width: 350px;
    height: 500px;
    background: black;
    z-index: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.08),
      0px 50.0488px 40.0391px rgba(0, 0, 0, 0.0608266),
      0px 30.1471px 24.1177px rgba(0, 0, 0, 0.0521271),
      0px 19.3198px 15.4559px rgba(0, 0, 0, 0.0456716),
      0px 12.5216px 10.0172px rgba(0, 0, 0, 0.04),
      0px 7.88218px 6.30574px rgba(0, 0, 0, 0.0343284),
      0px 4.5288px 3.62304px rgba(0, 0, 0, 0.0278729),
      0px 1.99324px 1.59459px rgba(0, 0, 0, 0.0191734);
  }
  .flexContainerContact__Info h2 {
    color: white;
    font-size: 36px;
  }
  .rrss {
    position: relative;
    top: 70%;
    left: 14%;
    &.rrss a {
      padding-left: 7%;
    }
  }

  .info {
    position: relative;
    margin: 20px 0;
    & li {
      position: relative;
      display: flex;
      margin: 20px 0;
      cursor: pointer;
      align-items: flex-start;

      & span:nth-child(1) {
        display: flex;
        flex-direction: row;
        align-items: center;

        width: 100%;
        min-width: 10%;
        font-size: 2.2rem;
        color: white;
      }
      & span img {
        padding-right: 10%;
      }
    }
  }

  .flexContainerContact__Form {
    position: absolute;
    padding: 70px, 50px;
    padding-left: 250px;
    margin-left: 150px;
    width: 72%;
    height: 100%;
    background: white;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.12),
      0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0862625),
      0px 22.3363px 17.869px rgba(0, 0, 0, 0.0715329),
      0px 12.5216px 10.0172px rgba(0, 0, 0, 0.06),
      0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0484671),
      0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0337375);

    h2 {
      margin: 7% 20%;
      font-size: 3vw;
    }
    .formBox {
      position: relative;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      margin-left: 139px;
      width: 585px;
      height: 315px;

      .inputBox {
        position: relative;
        margin-bottom: 100px;
      }
      .w50 {
        width: 45%;
      }
      .w100 {
        width: 100%;
      }

      input {
        resize: none;
        width: 100%;
        padding: 5px, 0;
        font-size: 18px;
        font-weight: 300;
        color: #333;
        border: none;
        outline: none;
        border-bottom: 1px solid #777;
      }
      textarea {
        resize: none;
        width: 100%;
        padding: 5px, 0;
        font-size: 20px;
        font-weight: 300;
        color: #333;
        border: none;
        outline: none;
        border-bottom: 1px solid #777;
        height: 100px;
      }
      span {
        left: 80px;
        padding: 25px 0;
        font-size: 20px;
      }
    }
  }
}
