.ContactMain {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.flexContainerContact {
  position: relative;
  min-width: 70%;
  min-height: 700px;
  display: flex;
  z-index: 1000;
  margin-left: 130px/1920px * 100%;

  .flexContainerContact__Info {
    position: absolute;
    top: 140px/1920px * 100%;
    width: 350px;
    height: 500px;
    background: black;
    z-index: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.08),
      0px 50.0488px 40.0391px rgba(0, 0, 0, 0.0608266),
      0px 30.1471px 24.1177px rgba(0, 0, 0, 0.0521271),
      0px 19.3198px 15.4559px rgba(0, 0, 0, 0.0456716),
      0px 12.5216px 10.0172px rgba(0, 0, 0, 0.04),
      0px 7.88218px 6.30574px rgba(0, 0, 0, 0.0343284),
      0px 4.5288px 3.62304px rgba(0, 0, 0, 0.0278729),
      0px 1.99324px 1.59459px rgba(0, 0, 0, 0.0191734);
  }
  .flexContainerContact__Info h2 {
    color: white;
    font-size: 36px;
  }
  .rrss {
    position: relative;
    top: 70%;
    left: 14%;
    &.rrss a {
      padding-left: 7%;
    }
  }

  .info {
    position: relative;
    margin: 20px 0;
    & li {
      position: relative;
      display: flex;
      margin: 20px 0;
      cursor: pointer;
      align-items: flex-start;

      & span:nth-child(1) {
        display: flex;
        flex-direction: row;
        align-items: center;

        width: 100%;
        min-width: 10%;
        font-size: 2.2rem;
        color: white;
      }
      & span img {
        padding-right: 10%;
      }
    }
  }

  .flexContainerContact__Form {
    position: absolute;
    padding: 70px, 50px;
    padding-left: 250px;
    margin-left: 150px;
    width: 72%;
    height: 100%;
    background: white;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.12),
      0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0862625),
      0px 22.3363px 17.869px rgba(0, 0, 0, 0.0715329),
      0px 12.5216px 10.0172px rgba(0, 0, 0, 0.06),
      0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0484671),
      0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0337375);

    h2 {
      margin: 5% 25.6%;
      font-size: 2.5vw;
      color: black;
    }
    .formBox {
      position: relative;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      color: rgb(0, 0, 0);

      margin-left: 15%;
      width: 70%;
      height: 315px;

      .inputBox {
        position: relative;
        margin-bottom: 100px;
      }
      .w50 {
        width: 45%;
      }
      .w100 {
        width: 100%;
        left: 10px;
      }

      input {
        width: 100%;
        height: 180%;
        resize: none;
        font-size: 18px;
        font-weight: 500;
        color: black;
        border: none;
        outline: none;
        border-bottom: 1px solid #777;
        font-family: roboto;

        &:focus ~ span {
          transform: translateY(-20px);
          font-size: 18px;
          letter-spacing: 1px;
          font-weight: 400;
        }
        &:valid ~ span {
          transform: translateY(-20px);
          font-size: 18px;
          letter-spacing: 1px;
          font-weight: 400;
        }
      }
      textarea {
        resize: none;
        width: 100%;
        height: 150%;
        padding: 5px, 0;
        font-family: roboto;
        font-size: 20px;
        font-weight: 500;
        color: black;
        border: none;
        outline: none;
        border-bottom: 1px solid #777;

        &:focus ~ span {
          transform: translateY(-20px);
          letter-spacing: 1px;
          font-size: 18px;
          font-weight: 400;
        }
        &:valid ~ span {
          transform: translateY(-20px);
          letter-spacing: 1px;
          font-size: 18px;
          font-weight: 400;
        }
      }
      span {
        position: absolute;
        left: 0;

        font-size: 2.5rem;
        pointer-events: none;
        font-weight: 300;
        transition: 0.3s;
      }
    }
    & .inputBox [type="submit"] {
      position: relative;
      cursor: pointer;
      background: $buttonColor;
      color: white;
      font-family: roboto;
      font-weight: 500;
      border-radius: 3rem;
      box-shadow: $buttonShadow;
      max-width: 130px;
      padding: 2px;

      &:hover {
        background: $hover;
      }
    }
  }
}
// responsive queries
@media (max-width: 1400px) {
  .flexContainerContact {
    display: flex;

    align-items: center;
    width: 75%;
    min-width: auto;
    margin-left: 0;
    margin-top: 13vh;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.0191734);

    .flexContainerContact__Info {
      top: 0;
      height: 550px;
      position: relative;
      box-shadow: none;
    }
    .flexContainerContact__Form {
      position: relative;
      width: calc(100%-370px);
      padding-left: 0;
      margin-left: 0;
      padding: 40px;
      height: 550px;
      box-shadow: none;

      .formBox span {
        font-size: 2rem;
      }
    }
  }
}

@media (max-width: 1017px) {
  .flexContainerContact {
    display: flex;
    flex-direction: column-reverse;

    .flexContainerContact__Form {
      width: 100%;
      height: auto;
    }

    .flexContainerContact__Info {
      width: 100%;
      height: auto;
    }
  }
}
