/* home*/

.bodyhome {
  background: $backgroundColor;
  min-height: 100%;
  min-width: 100vw;
}

/*CONTENIDO HOME MAIN*/
/*Imagen,texto  y botones*/

.flexContainerMain {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-left: 7rem;

  .logoPrincipal {
    order: 2;
    margin: 5rem;
    flex-basis: 474px/1850px * 100%;
  }
  /*logo media queries movil*/

  .logoMobile {
    display: none;
  }

  .flexContainerMain__textoHome {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    order: 1;
    max-height: 244px;
    max-width: 851px;
    flex-basis: 850px/1850px * 100%;
    margin-left: 10px;

    h1 {
      color: white;
      font-size: 600%;
      font-weight: 700;
      margin-bottom: 0.9rem;
      min-width: 800px;
    }

    h2 {
      color: white;
      font-size: 3.56 * 100%;
      font-weight: 700;
      margin-bottom: 0.9rem;
      display: none;
    }
  }
}
.homeButton {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;

  button {
    margin: 1rem;
    text-decoration: none;
    background: $buttonColor;
    box-shadow: $buttonShadow;
    border-radius: 30px;
    width: 20vw;
    height: 6.8rem;
    border: none;
    font-size: 1.5vw;
    color: white;
    font-weight: 500;

    &:hover {
      background: $hover;
      color: $hoverFont;
    }
  }
}
