/*CSS WORKS*/

/*botones de filtro works*/

.botonesWorks {
  padding-top: 5rem;
  align-items: center;
  margin-left: 20rem;
  justify-content: left;
  display: flex;
  flex-wrap: nowrap;

  h5 {
    text-align: center;
  }

  button {
    border-radius: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: white;
    border: none;
    background-color: #ffbb00;
    padding: 1rem;
    margin: 0.4em;

    &:hover {
      background-color: 626262;
    }
  }
}

/*Galleria Bootstrap*/

.container-fluid {
  max-width: 90%;
  padding-left: 10rem;
}

.row {
  display: flex;
  flex-wrap: wrap;

  .column {
    flex: 25rem;
    width: auto;
    overflow: hidden;
    padding: 0.5rem;
    height: 100%;

    img {
      margin-top: 1rem;
      width: 100%;
      height: 100%;
    }
  }
}

/* FIN CSS WORKS*/
