/*  inicio media querie de home*/

@media screen and (min-width: 1940px) {
  .bodyhome {
    background: fixed
      linear-gradient(0deg, rgba(255, 187, 0, 1) 32%, rgba(255, 149, 0, 1) 100%);
    min-height: 100%;
  }

  .flexContainerMain {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
    gap: 4%;

    .logoPrincipal {
      order: 2;
      max-width: 680px;
    }

    .flexContainerMain__textoHome {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      order: 1;

      margin-left: 10px;

      h1 {
        color: white;
        font-size: 750%;
        font-weight: 700;
        margin-bottom: 0.9rem;
        min-width: 1000px;
      }

      h2 {
        color: white;
        font-size: 3.56 * 100%;
        font-weight: 700;
        margin-bottom: 0.9rem;
        display: none;
      }
    }
  }
  .homeButton {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;

    button {
      margin: 1rem;
      text-decoration: none;
      background: #d96704;
      box-shadow: 0px 14px 31px rgba(0, 0, 0, 0.12),
        0px 3.12708px 6.92426px rgba(0, 0, 0, 0.0715329),
        0px 0.931014px 2.06153px rgba(0, 0, 0, 0.0484671);
      border-radius: 30px;
      width: 397px;
      height: 7.8rem;
      border: none;
      font-size: 1.5vw;
      color: white;
      font-weight: 500;

      &:hover {
        background: rgba(0, 0, 0, 0.71);
        color: rgb(212, 212, 212);
      }
    }
  }
}
// Media queries laptop normal home y contact
@media screen and (max-width: 1400px) {
  .bodyhome {
    background: $backgroundColor;
    height: 100vh;
  }

  //navegador hamburgesa
  .logolymona {
    display: none;
  }

  .flexContainerNav {
    width: 90vw;
    min-height: 10%;
    border-radius: 57.5px;
    left: 5%;
    top: -2.5%;
    z-index: 1;

    .menu_items {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      li {
        display: inline-block;
        writing-mode: horizontal-tb;
        bottom: 0.9rem;
        a {
          color: $buttonColor;
          padding: 0;
          display: inline-block;
          text-align: center;
        }
        a:nth-child(1) {
          width: 110px;
        }
        a:nth-child(2) {
          width: 100px;
        }
        a:nth-child(3) {
          width: 160px;
        }
        a:nth-child(4) {
          width: 120px;
        }
      }
    }
    // .animation {
    //   position: absolute;
    //   height: 100%;
    //   left: 8%;
    //   top: -14%;
    //   z-index: 0;
    //   background: $buttonColor;
    //   width: 16%;
    //   border-radius: 20px;
    // }
  }

  // fin de navegador

  //main

  .flexContainerMain {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
    gap: 4%;

    .logoPrincipal {
      display: none;
    }
    .logoMobile {
      display: flex;
    }
    .flexContainerMain__textoHome {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      h1 {
        display: none;
      }

      h2 {
        color: rgba(35, 31, 32, 1);
        font-size: 3.56 * 100%;
        font-weight: 700;
        margin-bottom: 0.9rem;
        display: flex;
      }
    }
  }
  .homeButton {
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    justify-items: center;

    button {
      // margin: 1rem;
      text-decoration: none;
      background: $buttonColor;
      box-shadow: $buttonShadow;
      border-radius: 30px;
      width: 397px;

      border: none;
      font-size: 1.5vw;
      color: white;
      font-weight: 500;

      &:hover {
        background: $hover;
        color: $hoverFont;
      }
    }
  }
  .diseñoFotter {
    position: absolute;
    margin: 0;
    top: 80vh;
    left: 42vw;
  }
}
@media screen and (max-width: 1400px) {
  body {
    .flexContainerNav2 {
      display: flex;
      position: relative;
      width: 90vw;
      min-height: 10%;
      border-radius: 57.5px;
      left: 5%;
      top: -2.5%;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;

      .menu_items2 {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        li {
          writing-mode: horizontal-tb;
          a {
            font-size: 250%;
          }
        }
      }
    }
  }

  .contenedorgrid {
    margin: 0 0 0 2rem;
  }

  .flexContainerFooter {
    margin-left: 0;
    width: 100vw;
  }
}
