/*CSS NUEVO FOOTER*/

.flexContainerFooter {
  margin-top: 1rem;
  padding-bottom: 5rem;
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  margin-left: 10rem;
  width: 100vw;
  height: 20rem;
  background-color: #231f20;
}

.flexContainerFooter__politicas {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 0.6rem;
  order: 1;

  //Editar fuente Botones Boostrap
  .flexContainerFooter__politicas button,
  h5,
  input,
  optgroup,
  select,
  textarea {
    text-align: left;
    margin: 0;
    line-height: inherit;
  }

  a {
    color: #ffffff;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 150%;
    font-weight: 700;
  }
}

.flexContainerFooter__logoGrande {
  width: 46.75rem;
  order: 2;
}

.flexContainerFooter__redesycopy {
  display: block;
  order: 3;

  h4 {
    font-weight: 700;
    padding-right: 0.3rem;
    text-align: right;
    color: #ffffff;
  }
}

.btn {
  color: #fff;

  &:hover {
    color: #fff;
    border-color: none;
  }

  .btn-check:focus + &,
  &:focus {
    outline: 0;
    box-shadow: none;
  }
}
