/*CSS NUEVO FOOTER*/

.flexContainerFooter {
  padding: 2rem;
  margin-top: 1rem;
  display: grid;
  justify-content: space-around;
  align-items: end;
  background-color: #231f20;
  grid-template-areas: "politicas logo redes";
}

.flexContainerFooter__politicas {
  padding-right: 2rem;
  grid-area: politicas;
  display: grid;
  gap: 0.6rem;
  order: 1;

  //Editar fuente Botones Boostrap
  .flexContainerFooter__politicas button,
  h5,
  input,
  optgroup,
  select,
  textarea {
    text-align: left;
    margin: 0;
    line-height: inherit;
  }

  a {
    color: #ffffff;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 150%;
    font-weight: 700;
  }
}

.flexContainerFooter__logoGrande {
  padding: 0rem 2rem 0rem 2rem;
  grid-area: logo;
  width: 46.75rem;
  order: 2;
}

.flexContainerFooter__redesycopy {
  padding-left: 2rem;
  grid-area: redes;
  order: 3;

  h4 {
    font-weight: 700;
    padding-right: 0.3rem;
    text-align: right;
    color: #ffffff;
  }
  .containerRedes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: right;
    align-items: flex-end;
  }
  .redesLogo {
    width: 98%;
  }
}

.btn {
  color: #fff;

  &:hover {
    color: #fff;
    border-color: none;
  }

  .btn-check:focus + &,
  &:focus {
    outline: 0;
    box-shadow: none;
  }
}
